.json {
	background-image: url(../images/json.png) !important;
}
.css {
	background-image: url(../images/css.png) !important;
}
.html {
	background-image: url(../images/html.png) !important;
}
.js {
	background-image: url(../images/script_code.png) !important;
}
.image {
	background-image: url(../images/image.png) !important;
}