<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Templates Example</title>
    <meta Name="description" content="Templates Example" />
    <meta name="keywords" content="Sencha, Ext JS, Ext JS 4.0.7" />
    <link href="/assets/application.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
    
    <div>
        <header>
            <h1>Sencha Try</h1>
        </header>
        
        <section id="readme">
            <div class="intro"><h1>Templates Example</h1>

<p>This example shows how to use Ext.Template and Ext.XTemplate.</p></div>
            <div>
                <a href="src.zip" download="extjs_4.0.7_examples_platform_templates.zip">DOWNLOAD</a>
            </div>
            <nav>
                <h2>Tags:</h2>
                <ul class="tags">
                    <li><a href="/tags/Ext%20JS/">Ext JS</a></li>
                    <li><a href="/tags/Ext%20JS%204.0.7/">Ext JS 4.0.7</a></li>
                </ul>
            </nav>
        </section>
        
        <section id="example">
            [example]
        </section>
        
        
        <footer>
            &copy; 2012 Sencha Inc.
        </footer>
    </div>
    
    <div class="hidden">
        <!-- extjs/4.0.7/examples/platform/templates/app.js -->
        <pre>/*global Ext:false */
/*

This file is part of Ext JS 4

Copyright (c) 2011 Sencha Inc

Contact:  http://www.sencha.com/contact

GNU General Public License Usage
This file may be used under the terms of the GNU General Public License version 3.0 as published by the Free Software Foundation and appearing in the file LICENSE included in the packaging of this file.  Please review the following information to ensure the GNU General Public License version 3.0 requirements will be met: http://www.gnu.org/copyleft/gpl.html.

If you are unsure which license is appropriate for your use, please contact the sales department at http://www.sencha.com/contact.

*/
Ext.require('widget.panel');

Ext.onReady(function(){
    var data = {
        name: 'Abe Elias',
        company: 'Sencha Inc',
        address: '525 University Ave',
        city: 'Palo Alto',
        state: 'California',
        zip: '44102',
        kids: [{
            name: 'Solomon',
            age:3
        },{
            name: 'Rebecca',
            age:2
        },{
            name: 'Rebecca 1',
            age:0
        }]
    };

    Ext.create('Ext.Panel', {
        width: 300,
        renderTo: 'template-example',
        style: "margin:15px",
        bodyStyle: "padding:5px;font-size:11px;",
        title: 'Basic Template',
        tbar: [{
            text: 'Apply Template',
            listeners: {
                click: function() {
                    var panel = this.up("panel"),
                        tpl = Ext.create('Ext.Template', 
                            '<p>Name: {name}</p>',
                            '<p>Company: {company}</p>',
                            '<p>Location: {city}, {state}</p>'
                        );

                    tpl.overwrite(panel.body, data);
                    panel.doComponentLayout();
                }
            }
        }],
        html: '<p><i>Apply the template to see results here</i></p>'
    });

    Ext.create('Ext.Panel', {
        width: 300,
        renderTo: 'xtemplate-example',
        style: "margin:15px",
        bodyStyle: "padding:5px;font-size:11px;",
        title: 'XTemplate',
        tbar: [{
            text: 'Apply Template',
            listeners: {
                click: function() {
                    var panel = this.up('panel'),
                        tpl =Ext.create('Ext.XTemplate',
                            '<p>Name: {name}</p>',
                            '<p>Company: {company}</p>',
                            '<p>Location: {city}, {state}</p>',
                            '<p>Kids: ',
                            '<tpl for="kids" if="name==\'Abe Elias\'">',
                                '<tpl if="age &amp;gt; 1"><p>{#}. {parent.name}\'s kid - {name}</p></tpl>',
                            '</tpl></p>'
                        );
                    tpl.overwrite(panel.body, data);
                    panel.doComponentLayout();
                }
            }
        }],
        html: '<p><i>Apply the template to see results here</i></p>'
    });
});
</pre>
    </div>
    
</body>
</html>
