.task .x-grid-cell-inner {
    padding-left: 15px;
}

.x-grid-row-summary {
    color:#333;
    background: #f1f2f4;
}

.x-grid-row-summary  .x-grid-cell-inner {
    font-weight: bold;
    font-size: 11px;
    padding-bottom: 4px;
}

.x-grid-hide-summary .x-grid-row-summary {
    display:none;
}

.x-grid-row .x-grid-cell-cost {
    background-color:#f1f2f4;
}

.x-grid-row-summary .x-grid-cell-cost {
    background-color:#e1e2e4;
}
