<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Advanced DataView Example | Sencha Try</title>
    <meta name="description" content="Advanced DataView Example" />
    <meta name="keywords" content="Sencha, Ext JS, Ext JS 4.0.7" />
    <meta name="author" content="Sencha Inc." />
    <link href="/assets/application.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>

    <header id="header">
        <div id="logo-container" class="skiptranslate">
            <h1 id="logo"><a href="/"><img src="/assets/logo.png" alt="Sencha Try" /></a></h1>
            <span id="glow"></span>
        </div>
        
        <nav id="siteNav">
          <ul>
            <li class="with-sub">
              <a href="#" class="dropdown">Sencha Network</a>
              <div class="pop-nav zero" id="docs-dropdown">
                <ul>
                  <li><a href="http://sencha.com/">Sencha.com</a></li>
                  <li><a href="http://sencha.com/products/io/">Sencha.io</a></li>
                  <li><a href="http://market.sencha.com/">Sencha Market</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
    </header>
    
    <div id="content-wrapper" class="clearfix">
        <div id="content">
            <nav class="bc">
                <a href="/">Home</a> <span>/</span> <a href="/extjs/">Ext JS</a> <span>/</span> <a href="/extjs/4.0.7/">4.0.7</a> <span>/</span> Advanced DataView Example
            </nav>
            
            <div class="developer">
                <div class="column_nine">
                    <div class="details">
                        <div class="top-block border">
                            <h2 class="alt">Advanced DataView Example</h2>
                        </div>
                        
                        <div class="plain-text"><p>This example shows loading a DataView in a Window.  Each item has a linked details view, and the DataView supports custom sorting and filtering.</p></div>
                        
                        <h3>[example widget]</h3>
                        
                        <div>
                            <ul class="developer-actions">
                                <li class="request"><a href="src.zip" class="button-link center">Download</a></li>
                            </ul>
                        </div>
                        
                        <section class="files">
                            <h4>Files</h4>
                            <ul>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/IconBrowser.js">IconBrowser.js</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/InfoPanel.js">InfoPanel.js</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/Window.js">Window.js</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/app.js">app.js</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/icons.json">icons.json</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/icons/DnD.png">icons/DnD.png</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/icons/ajax.png">icons/ajax.png</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/icons/carousel.png">icons/carousel.png</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/icons/forms.png">icons/forms.png</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/icons/geocongress.png">icons/geocongress.png</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/icons/guide.png">icons/guide.png</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/icons/icons.png">icons/icons.png</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/icons/kiva.png">icons/kiva.png</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/icons/map.png">icons/map.png</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/icons/nestedList.png">icons/nestedList.png</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/icons/overlays.png">icons/overlays.png</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/icons/picker.png">icons/picker.png</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/icons/sink.png">icons/sink.png</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/icons/sortable.png">icons/sortable.png</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/icons/tabs.png">icons/tabs.png</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/icons/tabs2.png">icons/tabs2.png</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/icons/toolbars.png">icons/toolbars.png</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/icons/twitter.png">icons/twitter.png</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/icons/yql.png">icons/yql.png</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/index.html">index.html</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/resources/css/app.css">resources/css/app.css</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/ux/DataView/Animated.js">ux/DataView/Animated.js</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/ux/DataView/DragSelector.css">ux/DataView/DragSelector.css</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/ux/DataView/DragSelector.js">ux/DataView/DragSelector.js</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/ux/DataView/Draggable.js">ux/DataView/Draggable.js</a></li>
                                <li><a href="/extjs/4.0.7/examples/view/chooser/ux/DataView/LabelEditor.js">ux/DataView/LabelEditor.js</a></li>
                            </ul>
                        </section>
                        
                        <hr class="clear" />
                        
                        <section class="tags">
                            <h4>Tags</h4>
                            <ul class="services-list alt clearfix">
                                <li><a href="/tags/Ext%20JS/">Ext JS</a></li>
                                <li><a href="/tags/Ext%20JS%204.0.7/">Ext JS 4.0.7</a></li>
                            </ul>
                        </section>
                        
                        <section class="seeAlso">
                            <h4>See Also</h4>
                            <ul class="services-list alt clearfix">
                            </ul>
                        </section>
                        
                        <hr class="clear" />
                        
                        <div id="disqus_thread"></div>
                        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com/" class="dsq-brlink">Comments powered by <span class="logo-disqus">Disqus</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <footer id="footer">
        <div id="footer-content">
            <nav id="footer-nav">
                <div class="columns">
                    <ul class="column">
                        <li>
                            <a class="main" href="http://sencha.com/company">Company</a>
                            <ul class="zero">
                                <li class="first"><a href="http://www.sencha.com/contact/" rel="nofollow">Contact Us</a></li>
                                <li class="last"><a href="/pages/terms" rel="nofollow">Terms of Use</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="column">
                        <li>
                            <a class="main" href="/">Listings</a>
                            <ul class="zero">
                                <li class="first"><a href="/developers">Full listing</a></li>
                                <li class="last"><a href="/developers/by_location">Geographic listing</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <hr />
            
            <div id="copyright">
                <p>&copy; 2012 Sencha Inc. All rights reserved.</p>
            </div>
        </div>
    </footer>

    <script type="text/javascript">
        var disqus_title = "Advanced DataView Example",
            disqus_identifier = "extjs/4.0.7/examples/view/chooser/about.html",
            disqus_url = "extjs/4.0.7/examples/view/chooser/about.html";
    </script>
    <script src="/scripts/comments.js" type="text/javascript"></script>
    <script src="/scripts/analytics.js" type="text/javascript"></script>

</body>
</html>
