<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Table Layout</title>
    <meta Name="description" content="Table Layout" />
    <meta name="keywords" content="Sencha, Ext JS, Ext JS 4.0.7" />
    <link href="/assets/application.css" media="screen" rel="stylesheet" type="text/css" />
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    
    <div>
        <header>
            <h1>Sencha Try</h1>
        </header>
        
        <section id="readme">
            <h1>Table Layout</h1>
            <strong>Tags:</strong> <a href="/search/Ext JS">Ext JS</a> <a href="/search/Ext JS 4.0.7">Ext JS 4.0.7</a> <br/>
        </section>
        <section id="example">
            [example]
        </section>
        
        <footer>
            &copy; 2012 Sencha Inc.
        </footer>
    </div>
    
    <div class="hidden">
        <!-- extjs/4.0.7/examples/layout/table/app.js -->
        <pre>/*global Ext:false */
/*

This file is part of Ext JS 4

Copyright (c) 2011 Sencha Inc

Contact:  http://www.sencha.com/contact

GNU General Public License Usage
This file may be used under the terms of the GNU General Public License version 3.0 as published by the Free Software Foundation and appearing in the file LICENSE included in the packaging of this file.  Please review the following information to ensure the GNU General Public License version 3.0 requirements will be met: http://www.gnu.org/copyleft/gpl.html.

If you are unsure which license is appropriate for your use, please contact the sales department at http://www.sencha.com/contact.

*/
Ext.onReady(function() {
    var panel = Ext.create('Ext.Panel', {
        id:'main-panel',
        baseCls:'x-plain',
        renderTo: Ext.getBody(),
        layout: {
            type: 'table',
            columns: 3
        },
        // applied to child components
        defaults: {frame:true, width:200, height: 200},
        items:[{
            title:'Item 1'
        },{
            title:'Item 2'
        },{
            title:'Item 3'
        },{
            title:'Item 4',
            width:410,
            colspan:2
        },{
            title:'Item 5'
        },{
            title:'Item 6'
        },{
            title:'Item 7',
            width:410,
            colspan:2
        },{
            title:'Item 8',
            rowspan: 2,
            height: 410
        },{
            title:'Item 9'
        },{
            title:'Item 10'
        },{
            title:'Item 11',
            rowspan: 2,
            height: 410
        },{
            title:'Item 12'
        },{
            title:'Item 13'
        },{
            title:'Item 14',
            rowspan: 2,
            height: 410
        },{
            title:'Item 15'
        },{
            title:'Item 16'
        },{
            title:'Item 17',
            rowspan: 2,
            height: 410
        },{
            title:'Item 18',
            width:410,
            colspan:2
        },{
            title:'Item 19'
        },{
            title:'Item 20'
        }]
    });
});
</pre>
    </div>
    
</body>
</html>
