p {
    margin:5px;
}

.settings {
    background-image:url(icons/fam/folder_wrench.png);
}

.nav {
    background-image:url(icons/fam/folder_go.png);
}

.info {
    background-image:url(icons/fam/information.png);
}
