html, body {
    font: normal 12px verdana;
    margin: 0;
    padding: 0;
    border: 0 none;
    overflow: hidden;
    height: 100%;
}

.empty .x-panel-body {
    padding-top: 20px;
    text-align: center;
    font-style: italic;
    color: gray;
    font-size: 11px;
}
